* {
  border: 1px solid gold;
}

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#dndLogo {
  width: 10%;
  display: flex;
  border-radius: 20px;
  justify-content: center;
  margin: 0 auto;
}

main>h2 {
  text-align: center;
}

.stepsContainer {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.currentStep {
  display: flex;
  flex-direction: column;
  justify-content: center;
  order: 1;
}

.stepList {
  display: flex;
  flex-direction: column;
  order: 3;

}

.buttonChoices {
  display: inline-block;
  flex-direction: row;
  order: 2;
}

button {
  background-color: green;
  font-size: 20px;
  border-radius: 10px;
  margin: 5px 5px;
  cursor: pointer;
}
