font-family: 'Handlee', cursive;
font-family: 'Bangers', cursive;
font-family: 'Acme', sans-serif;

/* Whole body: */
body {
  background-color: black;
  /* text-align: center; */
}

/* Global buttons: */
button, .button {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e9ede8), to(#ce401c),color-stop(0.4, #8c1b0b));
/* Background image from https://24ways.org/2008/shiny-happy-buttons/ */
  font-size: 20px;
  border-radius: 10px;
  margin: 5px 5px;
  cursor: pointer;
  color: white;
  padding: 5px;
}

/* Three header flex containers: */
header {
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  background-color: black;
  color: white;
  border: 5px solid gold;
  border-radius: 5px;
  font-family: 'Bangers', cursive;
  letter-spacing: .2em;
}

header>h2 {
  line-height: 1px;
  font-family: 'Handlee', cursive;
}

.leftHeader {
  display: flex;
  width: 20%;
  justify-content: center;
  height: auto;
}

.rightHeader {
  display: flex;
  width: 20%;
  justify-content: center;
  height: auto;
}

#dndLogo {
  width: 10%;
  display: flex;
  border-radius: 20px;
  justify-content: center;
  margin: 0 auto;
}

/* Three flex-boxes for the "steps" container: */
.stepsContainer {
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-image: url("imgs/tavern.jpg");
  background-position: center;
  background-size: cover;
  color: white;
}

.stepsContainer>h1, .stepsContainer>h2, .stepsContainer>h3 {
  background-color: black;
  text-shadow: 3px 3px 5px #808080;
}

.leftStepsPanel {
  display: flex;
  width: 20%;
  flex-direction: column;
  justify-content: center;
  order: 1;
  border: 1px solid gold;
  border-radius: 5px;
  background-image: url("imgs/stepbackground.jpg");
}

.rightStepsPanel {
  display: flex;
  width: 20%;
  flex-direction: column;
  order: 3;
  border: 1px solid gold;
  border-radius: 5px;
  background-image: url("imgs/stepbackground.jpg");
}

.centerChoicePanel {
  display: flex;
  flex-direction: column;
  order: 2;
  justify-content: space-around;
}

/* Images for race on step 1: */
.genderRaceImage>img {
height: 200px;
width: 125px;
background-color: black;
}

/* Jpeg of description for class on step 2: */
.classDescription {
  display: block;
  width: 100%;
  overflow: auto;
}

/* .choiceDescript {
  width:auto;
} */

/* Input box for name, step 3: */
#input-box {
  height: 30px;
}

/* style for stats rolls, step 4: */
.centerRollsPanel {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-size: 1.5em;
  justify-content: flex-start;
  margin: 10px;
  padding: 10px;
  order: 2;
}

.rolls {
  line-height: 1;
  font-family: 'Acme', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 2px;
  background-color: rgba(0, 0, 0, .5);
  padding: 2px;
  width: 30%;
}

.dice>h2 {
  margin: 2px;
  background-color: black;
  padding: 2px;
}

.centerInputPanel {
  font-family: 'Bangers', cursive;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  order: 2;
}

.inputBoxes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.inputBoxes label {
  background-color: black;
  font-size: 2em;
}

.statsChoice {
display: flex;
flex-direction: column;
width: 20%;
background-color: black;
}

/* Bottom panel of character sheet: */
.playerContainer {
  background-image: url("imgs/characterSheetBackground.jpg");
  color: black;
  font-size: bold;
  display: flex;
  justify-content: space-between;
  text-align: center;
  border: 5px solid black;
}

.playerContainer h4 {
  text-decoration: underline;
}

.leftCharacterPanel {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  order: 1;
  width: 20%;
  color: black;
  font-family: 'Acme', sans-serif;
  font-size: 1.4em;
  border: 1px solid black;
}

ul, li {
  text-align: left;
}

/* character image and class description jpeg: */
.centerCharacterPanel {
  /* border: 1px solid black; */
  order: 2;
  /* width: 40%; */
  margin: 10px;
}

#characterImg {
  width: 50%;
}

.rightCharacterPanel {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  order: 3;
  width: 20%;
  color: black;
  font-family: 'Acme', sans-serif;
  font-size: 1.4em;
  border: 1px solid black;
}
