* {
  border: 1px solid gold;
  background-color: black;
  color: white;
}

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#dndLogo {
  width: 10%;
  display: flex;
  border-radius: 20px;
  justify-content: center;
  margin: 0 auto;
}

main>h2 {
  text-align: center;
}

.stepsContainer {
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-image: url("../imgs/tavern.jpg");
  background-position: center;
  background-size: cover;
}

.leftStepsPanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  order: 1;
}

.rightStepsPanel {
  display: flex;
  flex-direction: column;
  order: 3;

}

.centerChoicePanel {
  display: inline-block;
  flex-direction: row;
  order: 2;
  justify-content: space-between;
}

button, .button {
  background-color: green;
  font-size: 20px;
  border-radius: 10px;
  margin: 5px 5px;
  cursor: pointer;
  padding: 5px;
}

.genderRaceImage>img {
height: 200px;
width: 125px;
background-color: black;
}

h1, h2, h3 {
  background-color: black;
}
